# Common
.git
.github
.dockerignore
Dockerfile
.md
docs/
*.log
media/
.idea
deploy
docker-compose.yml

# Exclude environment files
.env*
!*.example

# Python specific
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store