services:
  db:
    image: kartoza/postgis:14-3.3
    environment:
      POSTGRES_PASSWORD: docker
      POSTGRES_USER: docker
      POSTGRES_DB: dtpstat
    ports:
      - "5431:5432"
    networks:
      - backend
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
        - .:/code
    working_dir: /code
    command: sh -c 'sleep 5 && python manage.py runserver 0.0.0.0:5000'
    depends_on:
      - db
    networks:
      - backend
    environment:
      PYTHONUNBUFFERED: 1
      SECRET_KEY: secret
      DATABASE_URL: 'postgis://docker:docker@db:5432/dtpstat'
      STATIC_ROOT: '/static'
      MEDIA_ROOT: '/app/media'
      STATICFILES_DIRS: '/code/static'
      RECAPTCHA_PUBLIC_KEY: test
      RECAPTCHA_PRIVATE_KEY: test
      DEBUG: 1
      PROJECT_PATH: /code
      ALLOWED_HOSTS: "*"
      HERE_TOKEN: 123
      YANDEX_TOKEN: 123

networks:
  backend:
