[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==21.2.0"
Django = "==3.1.14"
django-ckeditor = "==5.9.0"
django-cors-headers = "==3.4.0"
django-environ = "==0.4.5"
django-extra-fields = "==2.0.3"
django-allauth = "==0.54.0"
django-filter = "==2.4.0"
django-recaptcha = "==2.0.6"
djangorestframework = "==3.14.0"
drf-serializer-cache = "==0.3.4"
datadog = "==0.46.0"
Pillow = "==8.3.2"
Scrapy = "==2.10.0"
beautifulsoup4 = "==4.12.2"
python-slugify = "==5.0.2"
herepy = "==2.1.1"
ijson = "==2.6.1"
pandas = "==1.3.0"
psycopg2-binary = "==2.8.5"
pymorphy2 = "==0.9.1"
scrapy-rotating-proxies = "==0.6.2"
tqdm = "==4.65.1"
django-constance = "==4.3.2"
django-q = "==1.3.9"
tweepy = "==4.14.0"
python-telegram-bot = "==13.0"
vk_api = "==11.10.0"

[dev-packages]

[requires]
python_version = "3.8"
