{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
  <style>
    table.form-table td div.django-ckeditor-widget {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
  </style>

  <form method="post">{% csrf_token %}
    <input type="hidden" name="ids" value="{{ ids }}">
    <table class="form-table">
      <thead><tr><th>Account</th><th>Форма</th></tr></thead>
      <tbody>
      {% for account, post_form in form_objects %}
        <tr>
          <td>
            {{ account.title }}<br><small>{{ account.get_social_network_display }}</small>
          </td>
          <td>
            {{ post_form.management_form|default:"" }}
            {{ post_form.as_p }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <input type="submit" class="default" value="Создать запланированные посты">
  </form>
  {# Подключаем JS и CSS для виджетов формы #}
  {{ form_objects.0.1.media }}
{% endblock %}
