{% extends "base.html" %}

{% load static %}
{% load i18n %}


{% block content %}
    {% if message %}
        <div class="container text-center" style="min-height: 50vh">
            <h2 class="mt-5 mb-3">{{ message }}</h2>
            <a href="{% url 'dtp' dtp.gibdd_slug %}">{% trans 'Перейти на страницу ДТП' %}</a>
            {% if is_moderator %}
                <a href="{% url 'tickets_list' %}">{% trans 'Вернуться к списку тикетов' %}</a>
            {% endif %}
        </div>
    {% else %}
    <div class="m-auto">
        <div class="text-center">
            <h2 class="mt-5 mb-1">{% trans 'Корректировка координат ДТП' %}</h2>
            <div class="m-auto" style="border: 1px solid #EBEDF0;box-sizing: border-box;border-radius: 20px;max-width: 600px;margin-top: 30px!important;padding:10px">
            <h3><a href="{% url 'dtp' dtp.gibdd_slug %}">{{ dtp.category.name }} {{ dtp.datetime }}</a></h3>
            <br>
            <h5>{% trans 'Адрес' %}</h5>
            <p>{{ dtp.full_address }}</p>
            {% if dtp.nearby.all %}
                <h5 class="mt-3">{% trans 'Поблизости' %}</h5>
                <p>{{ dtp.nearby.all|join:", " }}</p>
            {% endif %}
            </div>
            <h3 class="mt-5">{% trans 'Выберите наиболее подходящие координаты или предложите свои' %}</h3>
        </div>

        <div class="container-fluid geo-fix-point mb-5">
            <div class="row mt-5">
                {% if geo.source %}
                    <div class="geo-option col p-4 m-2">
                        <h5 style="height: 50px" class="text-center">{% trans 'Исходные координаты' %}</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" name="lat" value="{{ geo.source.0 }}" disabled>
                            <input type="text" class="form-control" name="long" value="{{ geo.source.1 }}" disabled>
                        </div>
                        <div id="source-map" style="width: 100%;height: 300px;margin-top: 20px"></div>
                        <div class="submit">
                            <button class="button">{% trans 'Выбрать' %}</button>
                        </div>
                    </div>
                {% endif %}
                {% if geo.geocode %}
                    <div class="geo-option col p-4 m-2">
                        <h5 style="height: 50px" class="text-center">{% trans 'От Яндекса' %}</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" name="lat" value="{{ geo.geocode.0 }}" disabled>
                            <input type="text" class="form-control" name="long" value="{{ geo.geocode.1 }}" disabled>
                        </div>
                        <div id="geocode-map" style="width: 100%;height: 300px;margin-top: 20px"></div>
                        <div class="submit">
                            <button class="button">{% trans 'Выбрать' %}</button>
                        </div>
                    </div>
                {% endif %}
                {% if geo.ticket %}
                    <div class="geo-option col p-4 m-2">
                        <h5 style="height: 50px" class="text-center">{% trans 'От создателя тикета' %}</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" name="lat" value="{{ geo.ticket.0 }}" disabled>
                            <input type="text" class="form-control" name="long" value="{{ geo.ticket.1 }}" disabled>
                        </div>
                        <div id="ticket-map" style="width: 100%;height: 300px;margin-top: 20px"></div>
                        <div class="submit">
                            <button class="button">{% trans 'Выбрать' %}</button>
                        </div>
                    </div>
                {% endif %}
                <div class="geo-option ugc col p-4 m-2">
                    <div style="height: 50px;text-align: center;margin-bottom: 10px">
                        <h5>{% trans 'Предложить свои координаты' %}</h5>
                        <p class="small">{% trans 'Кликайте на карту' %}</p>
                    </div>

                    <div class="input-group">
                        <input type="text" class="form-control" name="lat" disabled>
                        <input type="text" class="form-control" name="long" disabled>
                    </div>
                    <div id="ugc-map" style="width: 100%;height: 300px;margin-top: 20px"></div>
                    <div class="submit">
                        <button class="button">Выбрать</button>
                    </div>
                </div>
                <div class="geo-option no col p-4 m-2">
                    <div class="d-flex align-items-center" style="height: 420px">
                        <h5 class="text-center container">{% trans 'Просто сообщить о некорретных координатах' %}</h5>
                    </div>
                    <div class="submit">
                        <button class="button">Выбрать</button>
                    </div>
                </div>
            </div>

            <div class="text-center mb-5 mt-3">
                <form method="post" id="submit">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != "captcha" %}
                            <input name="{{ field.name }}" hidden>
                        {% else %}
                            <div style="margin: auto;text-align: center;">
                                {{ field }}
                            </div>

                        {% endif %}
                    {% endfor %}
                </form>
                <p class="text-danger">{{ error }}</p>
                <button class="button" id="submit-button">{% trans 'Отправить' %}</button>


            </div>


        </div>

    </div>
    {% endif %}
{% endblock %}

{% block page-scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ad7c40a7-7096-43c9-b6e2-5e1f6d06b9ec&lang=ru_RU"
            type="text/javascript"></script>

    <script type="text/javascript">
        $('#submit-button').on('click',function() {
            var error =  $(".text-danger")
            error.text("");

            var active_options = $('.geo-option.active')

            if(active_options.length) {
                var active_option = active_options.first()

                var lat = active_option.find("input[name*='lat']").val();
                var long = active_option.find("input[name*='long']").val();
                if ((lat && long) || active_option.hasClass("no")) {
                    captcha = $("#g-recaptcha-response")
                    if (captcha.length && captcha.val() === "") {
                        error.text("{% trans 'Пройдите капчу' %}");
                    } else {
                        $("form input[name*='lat']").val(lat)
                        $("form input[name*='long']").val(long)
                        $("form").submit()
                    }
                } else {
                    error.text("{% trans 'Нужно выбрать точку на карте или выбрать другой вариант' %}");
                }
            } else {
                error.text("{% trans 'Вы не выбрали ни один вариант' %}");
            }

        });

        $('.submit > button').on('click',function() {
            $('.submit > button').show()
            $('.geo-option').removeClass("active");

            $(this).hide()
            $(this).parent().parent().addClass("active")
        });
        console.log();
        ymaps.ready(init);
        function init(){
            {% for item in geo.items %}
                var {{ item.0 }}_map = new ymaps.Map("{{ item.0 }}-map", {
                    center: {{ item.1 }},
                    zoom: 15,
                    controls: ['typeSelector', 'zoomControl'],
                }, {suppressMapOpenBlock: true});

                var {{ item.0 }}_placemark = new ymaps.Placemark({{ item.1 }});
                {{ item.0 }}_map.geoObjects.add({{ item.0 }}_placemark);
            {% endfor %}

            var myPlacemark, ugc_map = new ymaps.Map("ugc-map", {
                    center: {{ geo.source }},
                    zoom: 15,
                    controls: ['geolocationControl', 'typeSelector', 'zoomControl'],
                }, {suppressMapOpenBlock: true});


            ugc_map.events.add('click', function (e) {
                var coords = e.get('coords');

                // Если метка уже создана – просто передвигаем ее.
                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                }
                // Если нет – создаем.
                else {
                    myPlacemark = createPlacemark(coords);
                    ugc_map.geoObjects.add(myPlacemark);
                    // Слушаем событие окончания перетаскивания на метке.
                    myPlacemark.events.add('dragend', function () {
                        putValues(coords);
                    });
                }
                putValues(coords);
            });

            // Создание метки.
            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {}, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: false
                });
            }

            // Добавляем координаты
            function putValues(coords) {
                $('.ugc input[name*=\'lat\']').val(coords[0].toString().slice(0,10));
                $('.ugc input[name*=\'long\']').val(coords[1].toString().slice(0,10));
                $('.ugc > .submit > button').trigger( "click" );
            };

        }
    </script>
{% endblock %}