{% extends "base.html" %}

{% load static %}

{% block meta-tags %}
    <meta property="og:title" content="{{ post.title }} – Карта ДТП">
    <meta property="og:description" content="{{ post.abstract }}">
    <meta name="description" content="{{ post.abstract }}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.cover.url }}"/>
    <title>{{ post.title }} – Карта ДТП</title>
    <meta data-rh="true" property="al:android:app_name" content="Medium" />
    <meta property="article:published_time"/>
    <meta name="telegram:channel" content="@dtp_stat"/>
{% endblock %}

{% block extra-head %}
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
{% endblock %}

{% block content %}
    <article class="container blog post mt-5 mb-5">
        <div class="text-center">
            {% for tag in post.tags.all %}
                <a href="{% url "blog_tag" tag %}">
                    <span class="tag">
                        {{ tag }}
                    </span>
                </a>
            {% endfor %}
            <h1 class="mt-3 mb-3">{{ post.title }}</h1>
            <p class="extra">{{ post.created_at|date:'d.m.Y' }}{% if post.author_name %} | {{ post.author_name }} {% endif %}</p>
            <figure class="graf--layoutFillWidth">
                <img src="{{ post.cover.url }}" class="mt-4 mb-4">
            </figure>
        </div>
        <div class="text">
            <div class="row">
                <div class="d-none d-sm-none d-md-block col-md-1 ">
                    <div class="ya-share2 sticky-top" data-services="vkontakte,twitter,facebook,telegram,odnoklassniki" data-direction="vertical"></div>
                </div>
                <div class="col-sm-12 d-md-none mb-3 text-center">
                    <div class="ya-share2 sticky-top" data-services="vkontakte,twitter,facebook,telegram,odnoklassniki"></div>
                </div>
                <div class="col-sm-12 col-md-10">
                    <p class="mb-5">
                        {{ post.abstract|safe }}
                    </p>
                    {{ post.text|safe }}
                </div>
                <div class="d-sm-none d-md-block col-md-1">

                </div>
            </div>

        </div>

    </article>
{% endblock %}
