{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'media/logo.ico' %}" type="image/x-icon">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(49130284, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49130284" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->



    {% block meta-tags %}
        <meta property="og:title" content="Карта ДТП">
        <meta property="og:description" content="Карта ДТП">
        <meta name="description" content="Карта ДТП">
        <meta name="keywords" content="Карта ДТП">
        <title>Карта ДТП</title>
    {% endblock %}

    <meta property="og:image" content="http://{{ request.get_host }}{% static "media/og.png" %}"/>
    <meta property="og:site_name" content="Карта ДТП" />  
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% block extra-head %}
    {% endblock %}


</head>
<body>
{% include "navigation.html" %}

{% if "account" in request.resolver_match.url_name %}
    <div class="text-center account" style="max-width: 400px;margin: auto">
{% endif %}

{% block content %}
{% endblock %}

{% if "account" in request.resolver_match.url_name %}
    </div>
    <script>
        $('.account form input[type=text],.account form input[type=password],.account form input[type=email]').addClass('form-control');
        $('.account a.button').removeClass('button');
        $('.account button, .account form input[type=submit]').addClass('button');
    </script>
{% endif %}

{% if request.resolver_match.url_name != "home" %}
    {% include "footer.html" %}
{% endif %}


{% block page-scripts %}
{% endblock %}

<script>
    let progress_bar = $(".progress-bar")
    progress_bar.css('background-size', progress_bar.parent().width() + 'px');
</script>

<script>
    $(document).on('click', 'a[href^="#"]', function (e) {
        if ($(this).attr('data-toggle') !== "collapse") {
            // target element id
            var id = $(this).attr('href');

            // target element
            var $id = $(id);
            if ($id.length === 0) {
                return;
            }

            // prevent standard hash navigation (avoid blinking in IE)
            e.preventDefault();

            // top position relative to the document
            var pos = $(id).offset().top;

            // animated top scrolling
            $('body, html').animate({scrollTop: pos}, 500);
        }


    });

</script>

</body>
</html>



