{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta-tags %}
        <meta property="og:title" content="Карта ДТП">
        <meta property="og:description" content="Карта ДТП">
        <meta name="description" content="Карта ДТП">
        <meta name="keywords" content="Карта ДТП">
        <meta property="og:image" content=""/>
        <title>Карта ДТП</title>
    {% endblock %}

    {% block extra-head %}
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
{% include "navigation.html" %}

{% if "account" in request.resolver_match.url_name %}
    <div class="text-center account" style="max-width: 400px;margin: auto">
{% endif %}

{% block content %}
{% endblock %}

{% if "account" in request.resolver_match.url_name %}
    </div>
    <script>
        $('.account form input[type=text],.account form input[type=password],.account form input[type=email]').addClass('form-control');
        $('.account a.button').removeClass('button');
        $('.account button, .account form input[type=submit]').addClass('button');
    </script>
{% endif %}

{% if request.resolver_match.url_name != "home" %}
    {% include "footer.html" %}
{% endif %}


{% block page-scripts %}
{% endblock %}

<script>
    let progress_bar = $(".progress-bar")
    progress_bar.css('background-size', progress_bar.parent().width() + 'px');
</script>

<script>
    $(document).on('click', 'a[href^="#"]', function (e) {
        // target element id
        var id = $(this).attr('href');

        // target element
        var $id = $(id);
        if ($id.length === 0) {
            return;
        }

        // prevent standard hash navigation (avoid blinking in IE)
        e.preventDefault();

        // top position relative to the document
        var pos = $(id).offset().top;

        // animated top scrolling
        $('body, html').animate({scrollTop: pos}, 500);
    });

</script>

</body>
</html>



