{% extends "base.html" %}

{% load static %}
{% load tags %}

{% block meta-tags %}
    <meta property="og:title" content="Поддержать карту ДТП">
    <meta property="og:description" content="Сбор ежемесячных пожертвований на проект">
    <meta name="description" content="Сбор ежемесячных пожертвований на проект">
    <meta name="keywords" content="Карта, ДТП, поддержка, пожертвования">
    <title>Поддержать карту ДТП</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h2 class="text-center mb-4">Поддержать проект</h2>

        <div class="donate-box mt-4 mb-4 m-auto">
            <h3 class="text-center">Сбор пожертвований на проект</h3>
            <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ donate_data.progress }}%;"></div>
            </div>
            <div class="row justify-content-between ">
                <div class="col small">Собрано:  {% thousand_sep donate_data.paymentsInfo.sum_total %}р. из {% thousand_sep donate_data.paymentsInfo.sum_goal %}р.</div>
                <div class="col text-right donate-status-extra small">До конца сбора {% get_word_after_num 'день' donate_data.days_left %}</div>
            </div>
            <div class="text-center mt-4 mb-4">
                <a class="button support" href="https://boosty.to/dtp-stat">Поддержать проект</a>
            </div>
        </div>

        <div class="post mt-5 mb-5 ml-auto mr-auto">
            {{ text | safe }}
        </div>

{% endblock %}
