{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="m-auto text-center">
        <h3 class="text-center">Тут будет карта</h3>
        <p>А пока тут есть:</p>
        <hr>

        <h5>API</h5>
        <p>
            <a href="/api/dtp/?start_date=2015-01-01&end_date=2015-12-31&geo_frame=36.51+50.55%2C+36.65+50.55%2C+36.65+50.63%2C+36.51+50.63%2C+36.51+50.55">
                API выдачи ДТП
            </a>
        </p>
        <p>
            <a href="/api/stat/?geo=34.18121337890624+53.20932249705369">
                API Статистики
            </a>
        </p>
        <p>API Расширенной статистики</p>
        <p><a href="/api/filters/?geo=34.18121337890624+53.20932249705369">API Фильтров</a></p>
        <hr>
        <p><a href="{% url "dtp" dtps.0.slug %}">Карточка ДТП</a></p>

        <hr>
        <p><a href="{% url 'account_login' %}">Войти</a></p>

        <hr>

        <h5>Статика</h5>
        <p><a href="{% url "blog" %}">Блог</a></p>
        <p><a href="{% url "page" "about" %}">О проекте</a></p>
        <p><a href="{% url "opendata" %}">Выгрузка данных</a></p>
        <p></p>
        <p></p>
    </div>
{% endblock %}