{% extends "base.html" %}

{% block content %}
    <div class="m-auto text-center">
        <h3 class="text-center">Тут будет карта</h3>
        <p>А пока тут есть:</p>
        <hr>

        <h5>API</h5>
        <p><a href="http://127.0.0.1:8000/api/dtp/?start_date=2015-01-01&end_date=2015-12-31&severity=2%2C3&geo=34.18121337890624+53.20932249705369%2C+34.46685791015625+53.20932249705369%2C+34.46685791015625+53.28656352061583%2C+34.18121337890624+53.28656352061583%2C+34.18121337890624+53.20932249705369&participant_categories=public_transport%2Cpedestrians">API выдачи ДТП</a></p>
        <p>API Статистики</p>
        <p>API Расширенной статистики</p>
        <p>API Фильтров</p>
        <hr>

        <h5>Статика</h5>
        <p>Блог</p>
        <p>О проекте</p>
        <p>Поддержать</p>
        <p>Выгрузка данных</p>
        <p></p>
        <p></p>
    </div>
{% endblock %}