{% load static %}
{% load i18n %}
{% load constance %}

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "media/logo.png" %}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if request.resolver_match.url_name == 'home' %}

    <form class="form-inline mr-auto mt-lg-0 d-lg-block" role="form">
        <div class="form-group">
            <input class="form-control" type="text" id="regionSearch" placeholder="Поиск по карте">
            <i class="fas fa-search"></i>
        </div>
    </form>

    {% endif %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item {% if 'blog' in request.resolver_match.url_name %}active{% endif %}">
                <div style="">
                    <a class="nav-link" href="{% url 'blog' %}">{% trans "Что почитать" %}</a>
                </div>

            </li>
            <li class="nav-item {% if 'dashboard' in request.path and 'pages' in request.path %}active{% endif %}">
                <a class="nav-link" href="/pages/dashboard/">Статистика</a>
            </li>
            <li class="nav-item {% if 'data' in request.resolver_match.url_name %}active{% endif %}">
                <a class="nav-link" href="{% url "opendata" %}">Скачать данные</a>
            </li>
            <li class="nav-item {% if 'about' in request.path and 'pages' in request.path %}active{% endif %}">
                <a class="nav-link" href="/pages/about/">О проекте</a>
            </li>
            <li class="nav-item support">
                <a class="nav-link button support" href="{% url 'donate' %}">Поддержать проект</a>
            </li>
            {% constance 'SHOW_LANGUAGE_SWITCHER' as show_language_switcher %}
            {% if show_language_switcher %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE == 'en' %}
                        🇬🇧 English
                    {% else %}
                        🇷🇺 Русский
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="languageDropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% if LANGUAGE_CODE != 'ru' %}
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                            <input name="language" type="hidden" value="ru" />
                            <button type="submit" class="dropdown-item" style="border: none; background: none; width: 100%; text-align: left; cursor: pointer;">
                                🇷🇺 Русский
                            </button>
                        </form>
                    {% endif %}
                    {% if LANGUAGE_CODE != 'en' %}
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/en{{ request.path }}" />
                            <input name="language" type="hidden" value="en" />
                            <button type="submit" class="dropdown-item" style="border: none; background: none; width: 100%; text-align: left; cursor: pointer;">
                                🇬🇧 English
                            </button>
                        </form>
                    {% endif %}
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

<script>
    (function () {
        function makeSearch(term, coords, callback) {
            url = 'https://autosuggest.search.hereapi.com/v1/autosuggest?at=' + coords + '&lang=ru&apiKey={{ here_token }}&limit=10&q=' + term
            $.get(url).done(function (data) {
                options = data.items.map(function (item) {
                    if ( item.address.label.includes('Россия')) {
                        return {
                            label: item.title,
                            value: item.title,
                            coords: item.position
                        }
                    }

                })
                console.log(options);
                callback(options);
            });
        }

        function replaceUrlParam(url, paramName, paramValue)
        {
            if (paramValue == null) {
                paramValue = '';
            }
            var pattern = new RegExp('\\b('+paramName+'=).*?(&|#|$)');
            if (url.search(pattern)>=0) {
                return url.replace(pattern,'$1' + paramValue + '$2');
            }
            url = url.replace(/[?#]$/,'');
            return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue;
        }

        function goToRegionPage(coords) {
            var url = window.location.href;
            var url = replaceUrlParam(url, 'center', coords.lat.toString() + ":" + coords.lng.toString());
            var url = replaceUrlParam(url, 'zoom', '13');
            window.location.href = url;
        }

        $('#regionSearch').autocomplete({
            minLength: 3,
            source: function (request, response) {
                var url = new URL(window.location.href);
                var coords = url.searchParams.get("c");
                if (coords == null){
                    coords = '55.7498,37.6179'
                } else {
                    coords = coords.replace('_',',')
                }
                makeSearch(request.term, coords, response);
            },
            select: function (event, ui) {
                goToRegionPage(ui.item.coords);
            }
        });
    })();

</script>
