{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h2 class="text-center mb-4">Скачать данные</h2>


        <table class="table">
            <tbody>
                {% for opendata_item in opendata %}
                    <tr>
                        <td><b>{{ opendata_item.region.name|default:"Россия" }}</b></td>
                        <td>{{ start_date|date:"F Y" }} - {{ opendata_item.date|date:"F Y" }}</td>
                        <td>{{ opendata_item.mb_file_size|floatformat:"2" }} mb</td>
                        <td class="text-center"><a href="/media/opendata/{{ opendata_item.region.slug }}.geojson" class="button">Скачать .geojson</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}