{% extends "base.html" %}

{% load i18n %}

{% block meta-tags %}
    <meta property="og:title" content="{{ page.title }} – {% trans 'Карта ДТП' %}">
    <meta property="og:description" content="{{ page.title }}">
    <meta name="description" content="{{ page.title }}">
    <meta name="keywords" content="{% trans 'Карта' %}, {% trans 'ДТП' %}, {{ page.title }}">
    <title>{{ page.title }} – {% trans 'Карта ДТП' %}</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h2 class="text-center mb-4">{{ page.title }}</h2>
        <div class="post m-auto">{{ page.text | safe }}</div>
    </div>
{% endblock %}