{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container mt-5 mb-5" style="min-height: 50vh">
        <ul class="nav justify-content-center mt-3 mb-3">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:application_blogpost_changelist' %}">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:application_page_changelist' %}">Статичные страницы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'ticket' in request.resolver_match.url_name %}active{% endif %}" href="{% url "tickets_list" %}">Тикеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "account_logout" %}">Выйти из профиля</a>
            </li>
        </ul>

        {% block board_content %}
        {% endblock %}
    </div>
{% endblock %}