{% extends "board/index.html" %}

{% load static %}

{% block board_content %}
    <div class="m-auto text-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ДТП</th>
                    <th>Тип</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for item in tickets_new %}
                    <tr onclick="window.location='{% url "ticket" item.id %}'" style="cursor: pointer">
                        <td>{{ item.dtp }}</td>
                        <td>
                            {{ item.get_category_display }}
                        </td>
                        <td>{{ item.created_at }}</td>
                        <td>{{ item.get_status_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}